<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加管理员</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
</head>
<body class="childrenBody">
    <form class="layui-form" action="/admin/addAdmin.do" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="c-red">*</span>用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="userName" lay-verify="required|userName" placeholder="请输入用户名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="c-red">*</span>密码</label>
            <div class="layui-input-block">
                <input type="password" class="layui-input" name="password" autocomplete="new-password" lay-verify="required" placeholder="请输入登录密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="c-red">*</span>姓名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="name" lay-verify="required" placeholder="请输入姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="menuPriority" lay-verify="phone_a" placeholder="请输入手机号">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="menuPriority" lay-verify="email_a" placeholder="请输入邮箱">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="c-red">*</span>状态</label>
            <div class="layui-input-block">
                <input type="radio" name="userState" value="1" title="启用" checked>
                <input type="radio" name="userState" value="0" title="禁用">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" name="remark" placeholder="请输入备注">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <input name="avatar" readonly id="avatar" placeholder="图片地址" class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <div type="button" class="layui-btn layui-btn-primary" id="avatarUpload">
                    <i class="layui-icon"></i>上传图片
                </div>
                <input class="layui-upload-file" type="file" accept="undefined" name="file">
                <div class="layui-btn layui-btn-primary" id="avartatPreview">查看图片</div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="radio" name="roleId" th:each="role:${roleList}" th:value="${role.roleId}" th:title="${role.roleName}">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="formSubmit" lay-submit="" lay-filter="formSubmit">立即提交</button>
                <button  onclick="layer_close()" type="button" class="layui-btn layui-btn-primary">返回</button>
            </div>
        </div>
    </form>

<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script type="text/javascript" src="/static/lib/extend/jquery-form/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/verify-methods.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>


<script>

    layui.use(['form','layer', 'upload'],function(){
        var form = layui.form,
        layer = layui.layer,
            upload = layui.upload;

        form.verify({
            userName: function(value, item){
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名不能有特殊字符';
                }
                // 去查询是否有重复用户名
                var isExist;
                $.ajax({
                    url:'/admin/checkIsExistUserName.do',
                    data:{userName:value},
                    async:false,
                    dataType: 'json',
                    success:function (data) {
                        var result = data.resultData;
                        isExist = result.isExist;
                    }
                });
                if (true === isExist) {
                    return '此用户名已存在';
                }

            }
        });


        upload.render({
            url: "/upload/uploadPic",
            elem: "#avatarUpload",
            accept:"images",
            acceptMime:"image/*",
            done: function (data) {
                var resultCode = data.resultCode;
                var resultDesc = data.resultDesc;
                if ("0000" === resultCode) {
                    layer.msg('上传成功!', {icon: 1});
                    $("#avatar").val(data.resultData.picUrl);
                } else {
                    layer.msg(resultDesc, {icon: 2});
                }
            }
        });

        // 绑定事件
       $("#avartatPreview").click(function () {
           var i = $("#avatar").val();
           layer.photos({photos: {title: "头像", data: [{src: i}]}, shade: .01, closeBtn: 1, anim: 5})

       })

        // 表单提交
        form.on("submit(formSubmit)",function(data){
            // 按钮禁用
            $("#formSubmit").attr('disabled',true);
            $(data.form).ajaxSubmit(function (data) {
                var resultCode = data.resultCode;
                var resultDesc = data.resultDesc;
                if ("0000" === resultCode) {
                    layer.msg('添加成功!', {icon: 1});
                    layer_close();
                    parent.tableIns.reload(parent.tableId);
                } else {
                    layer.msg(resultDesc, {icon: 2});
                }
                // 按钮恢复
                $("#formSubmit").attr('disabled',false);
            });
            return false;
        })
    })

</script>

    <style id="LAY_layadmin_theme"></style>
    <div class="layui-layer-move" style="cursor: move; display: none;"></div>

</body>
</html>