<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>菜单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/css/index.css" media="all"/>
    <link rel="stylesheet" href="/static/css/public.css" media="all"/>
    <link rel="stylesheet" href="/static/css/list.css" media="all"/>

    <style>
        html,body{
            height: 100%;
        }
        div{
            -moz-box-sizing: border-box;  /*Firefox3.5+*/
            -webkit-box-sizing: border-box; /*Safari3.2+*/
            -o-box-sizing: border-box; /*Opera9.6*/
            -ms-box-sizing: border-box; /*IE8*/
            box-sizing: border-box; /*W3C标准(IE9+，Safari5.1+,Chrome10.0+,Opera10.6+都符合box-sizing的w3c标准语法)*/
        }
    </style>
</head>
<body>
    <div class="childrenBody" style="height: 100%;">
        <div class="layui-card" style="height: 100%;">

            <div class="layui-card-body" style="height: 100%;">
                <div class="layui-card-operate">
                    <button class="layui-btn layuiadmin-btn-admin"><i class="arley-icon arley-icon-add"></i> 添加</button>
                </div>

                <table class="layui-hide" id="treeTable" lay-filter="treeTable"></table>

                <!-- 状态显示 -->
                <script type="text/html" id="roleStateId">
                    <span class="td-status layui-btn layui-btn-xs {{ d.roleState == 1 ? 'layui-btn-green' : 'layui-btn-disabled' }}">{{ d.roleState == 1 ? '开启' : '关闭' }}</span>
                </script>

                <script type="text/html" id="operateId">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="arley-icon arley-icon-edit"></i>编辑</a>
                    <a class="layui-btn  layui-btn-xs {{ d.userName == 'admin' ? 'layui-btn-disabled' : 'layui-btn-danger' }} " lay-event="del"><i class="arley-icon arley-icon-delete"></i>删除</a>
                </script>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/lib/layui/layui.js"></script>
<script>





    var url = "/role/listRoleByPage.do";
    var cols = [
        [
            {type:'checkbox'},
            {field:'roleId', title:'ID', align:'center', sort: true},
            {field:'roleName', title:'角色名称', align:'center'},
            {field:'remark', title:'备注', align:'center'},
            {field:'roleState', title:'状态', toolbar:'#roleStateId', align:'center'},
            {field:'modifier', title:'修改者', align:'center'},
            {field:'right', title:'操作',toolbar: '#operateId', align:'center'}
        ]
    ];

    var editObj=null,ptable=null,treeGrid=null,tableId='treeTable',layer=null;
    layui.config({
        base: '/static/lib/extend/treeGrid/'
    }).extend({
        treeGrid:'treeGrid'
    }).use(['jquery','treeGrid','layer'], function(){
        var $=layui.jquery;
        treeGrid = layui.treeGrid;//很重要
        layer=layui.layer;
        ptable=treeGrid.render({
            id:tableId
            ,elem: '#'+tableId
            ,idField:'permissionId'
            ,url:'/permission/listPermission.do'
            ,cellMinWidth: 100
            ,treeId:'permissionId'//树形id字段名称
            ,treeUpId:'parentId'//树形父id字段名称
            ,treeShowName:'menuName'//以树形式显示的字段
            ,height:'full-60'
            ,cols: [
                [
                    {type:'checkbox'}
                    ,{field:'permissionId',  title: '主键ID', align:'center'}
                    ,{field:'menuName',  title: '菜单名称', align:'center'}
                    ,{field:'menuUrl',  title: '菜单链接', align:'center'}
                    ,{field:'menuCode',  title: '菜单标识', align:'center'}
                    ,{field:'menuIcon',  title: '菜单图标', align:'center',
                        templet: function(d){
                            return '<i class="arley-icon '+ d.menuIcon +'"></i>';
                        }
                    }
                    ,{field:'menuType',  title: '菜单类型', align:'center' ,
                        templet: function(d){
                            var html='';
                            if (1 === d.menuType) {
                                html='<a class="layui-btn layui-btn-normal layui-btn-xs" >菜单</a>';
                            } else {
                                html='<a class="layui-btn layui-btn-primary layui-btn-xs">按钮</a>';
                            }
                            return html;
                        }
                    }
                    ,{field:'menuPriority',  title: '排序', align:'center'}
                    ,{title: '操作', align:'center'/*toolbar: '#barDemo'*/
                        ,templet: function(d){
                            var html='';
                            var addBtn='<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add"><i class="arley-icon arley-icon-add"></i>添加子菜单</a>';
                            var delBtn='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="del"><i class="arley-icon arley-icon-edit"></i>编辑</a>';
                            return addBtn+delBtn;
                        }
                    }


                ]
            ]
            ,page:false
        });

        treeGrid.on('tool('+tableId+')',function (obj) {
            console.log(obj)
            if(obj.event === 'del'){//删除行
                del(obj);
            }else if(obj.event==="add"){//添加行
                //add(obj);
                layer_show_full("添加菜单", "/permission/toPermissionAdd.do")
            }
        });
    });



</script>


</body>
</html>